<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Golden Seas</a>
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about">About</a></li>
        <li><a href="#appetizer">Appetizer & Soup</a></li>
        <li><a href="#favorites">Golden Seas Favorites</a></li>
        <li><a href="#suggestion">Chef Suggestion & Hot Spicy</a></li>
        <li><a href="#combinations">Chinese Family Combination</a><li>
        <li><a href="#dinner">Family Dinner</a></li>
        <li><a href="#rice-noodles">Fried Rice & Noodles</a></li>
        <li><a href="#lunch">Lunch</a></li>
      </ul>
      <ul class="side-nav" id="mobile-navbar">
        <li><a href="#about">About</a></li>
        <li><a href="#appetizer">Appetizer&Soup</a></li>
        <li><a href="#favorites">Golden Seas Favorites</a></li>
        <li><a href="#suggestion">Chef Suggestion & Hot Spicy</a></li>
        <li><a href="#combinations">Chinese Family Combination</a><li>
        <li><a href="#dinner">Family Dinner</a></li>
        <li><a href="#rice-noodles">Fried Rice & Noodles</a></li>
        <li><a href="#lunch">Lunch</a></li>
      </ul>
    </div>
  </nav>
</div>